nav {
    background-color: goldenrod;
    padding: 4px;
}

.content {
    padding-top: 4em;
}

.captiontext {
    position: relative;
    width: 45%;
    padding: 400px;
    margin: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100px;
    top: -250px;
    left: 170px;
    text-align: center;
    color: white;
    padding: 1.5px;
    background: rgba(0, 0, 0, 0.6);
}